.products__container{
    height: 500px;
    overflow: auto;
}

.product__container{
    position: relative;
}

.product__container--btn-edit{
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
}

.btn-sort__icon{
    font-size: 1.5rem;
}

.product__price__currency{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
}

.product__price__amount{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}